
        <button type="button" (click)="displaydata()" >View</button>

        
        <div class="jumbotron"> 
          <h3>{{talentData.responseData[0].growth_platform}}</h3>
            {{talentData.responseData[0].Month}}
            {{talentData.responseData[0].Year}}
        </div>
      <h1>Config</h1>
        <div class="jumbotron">
           <div *ngFor="let keys of keysConfig()">
            {{keys}}:{{talentData.config[keys]}}
          </div>
        </div>

        <h1>Talent Data</h1>
          <div  class="jumbotron" *ngFor="let keys of keysTalentData()">
               <div *ngFor="let key of keysData(keys)">
                 
                {{key}}:{{talentData.responseData[0].data[keys][key]}}

            </div>
         </div>


