/* div{
    width: 
} */

img {
    margin-top:70px;
    margin-left:50px;
    margin-bottom:70px;
    /* margin-left:10px; */
    /* margin-right:5px; */
    border: 1px solid #ddd;
    border-radius: 4px;
    /* padding-right: 30px; */
    width: 200px;

  }
 
.name{
      margin-left:90px;
      margin-top:-50px;
  } 

  .fb{
    margin-left:100px;
    margin-top:10px;
    width:25px;
    height: 25px;
  }
  .insta{
    margin-left:20px;
    margin-top:10px;
    width:25px;
    height: 25px;
  }