

<div class="btn-group " role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary " routerLink="/articles">Articles</button>
  <button type="button" class="btn btn-secondary " routerLink="/suggest">Suggest</button>
  <button type="button" class="btn btn-secondary ">Subscribe</button>
  <button type="button" class="btn btn-secondary " routerLink="/about">About</button>
  <button type="button" class="btn btn-secondary " routerLink="/view">View Suggestions</button>
</div>
<!-- bg-white text-dark -->

<router-outlet></router-outlet>
